<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/3.10.1/stylesheets/locastyle.css">
<title>Allfy</title>
</head>
<body>
<h2>Allfy</h2>
<br>
  <div class="ls-box-filter">
    <form class="ls-form ls-form-inline " action="{% url 'buscar' %}" method="GET">
      <label class="ls-label col-md-8 col-sm-8">
        <b class="ls-label-text">Tipo</b>
        <div class="ls-custom-select">
          <select name="tipo" class="ls-select">
            <option value="" >Todos</option>
            <option value="receitas" >Receitas</option>
            <option value="despesas" >Despesas</option>
          </select>
        </div>
      </label>
      {% comment %} <label class="ls-label" role="search">
        <b class="ls-label-text">Categoria</b>
        <input type="text" id="q" name="categoria" aria-label="Faça sua busca por categoria" placeholder="Categoria" class="ls-field">
      </label> {% endcomment %}
      <label class="ls-label" role="search">
        <b class="ls-label-text">Valor</b>
        <input type="text" id="q" name="valor" aria-label="Faça sua busca por valor" placeholder="Valor" class="ls-field">
      </label>
      <div class="ls-actions-btn">
        <input type="submit" value="Buscar" class="ls-btn" title="Buscar">
      </div>
    </form>
  </div>
  <div>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    </head>    
    {% for receita in receitas %}
    <div class="container mt-3">
      <div class="d-inline-flex p-3 bg-secondary mb-3">
        <div class="p-2 bg-primary">
            {{receita.valor}}
        </div>
        <div class="p-2 bg-primary">
            {{receita.descricao}}
        </div>
          <form action="{% url 'apagar_receita' id=receita.id %}">
            <button class="p-2 bg-danger" type= 'submit'>
              Deletar
            </button>
          </form>
          <form method= 'get' action="{% url 'alterar_receita' id=receita.id %}">
            <button class="p-2 bg-warning" type= 'submit'>
              Alterar
            </button>
          </form>
      </div>
    </div>
    {% endfor %}
    {% for despesa in despesas %} 
    <div class="container mt-3">
      <div class="d-inline-flex p-3 bg-secondary mb-3">
        <div class="p-2 bg-warning"> 
          {{despesa.valor}}
        </div>
        <div class="p-2 bg-warning">
          {{despesa.descricao}}
        </div>
        <div class="p-2 bg-warning">
          {{despesa.categoria}}
        </div>
        <form action="{% url 'apagar_despesa' id=despesa.id %}">
          <button class="p-2 bg-danger" type= 'submit'>
            Deletar
          </button>
        </form>
        <form method= 'get' action="{% url 'alterar_despesa' id=despesa.id %}">
          <button class="p-2 bg-warning" type= 'submit'>
            Alterar
          </button>
        </form>
      </div>
    </div>
    {% endfor %}

  </div>

</body>
</html>