<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/3.10.1/stylesheets/locastyle.css">
<title>Allfy</title>
</head>
<body>
<h2>Allfy</h2>
<br>
  <div class="ls-box-filter">
    <form action="" class="ls-form ls-form-inline">
      <label class="ls-label col-md-8 col-sm-8">
        <b class="ls-label-text">Tipo</b>
        <div class="ls-custom-select">
          <select name="tipo" class="ls-select">
            <option>Todos</option>
            <option>Receitas</option>
            <option>Despesas</option>
          </select>
        </div>
      </label>
      <label class="ls-label" role="search">
        <b class="ls-label-text">Categoria</b>
        <input type="text" id="q" name="categoria" aria-label="Faça sua busca por categoria" placeholder="Categoria" class="ls-field">
      </label>
      <label class="ls-label" role="search">
        <b class="ls-label-text">Valor</b>
        <input type="text" id="q" name="valor" aria-label="Faça sua busca por valor" placeholder="Valor" class="ls-field">
      </label>
      <div class="ls-actions-btn">
        <input type="submit" value="Buscar" class="ls-btn" title="Buscar">
      </div>
    </form>
  </div>

</body>
</html>